:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--color-slate);
  background-color: var(--color-white);
  font-size: 16px;
  letter-spacing: 0.02em;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p,
input,
textarea,
button {
  font: inherit;
  margin: 0;
}

main {
  flex-grow: 1;
}
button {
  cursor: pointer;
  color: currentColor;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  outline: none;
  list-style-type: none;
}

li {
  list-style-type: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Header */
.header {
  border-bottom: 1px solid #e7e9fc;
  display: flex;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header_container {
  display: flex;
  align-items: center;
}

.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  width: 100%;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.menu_nav {
  display: flex;
  align-items: center;
}
.header_logo_link {
  color: var(--IRIS, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-right: 76px;
  display: inline-block;
}
.studio {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.menu {
  display: flex;
  gap: 40px;
}

.link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover {
  color: #404bbf;
}

.link:focus {
  color: #404bbf;
}
.link:active {
  color: #404bbf;
}

.header_em_ph {
  font-style: normal;
  margin-left: auto;
}
.address {
  display: flex;
  gap: 40px;
}
.contact_link {
  text-decoration: none;
  color: #434455;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact_link:hover {
  color: #404bbf;
}
.contact_link:focus {
  color: #404bbf;
}
.curent {
  position: relative;
  color: #404bbf;
}
/* Header */

/* Section 1 */

.business_title {
  background: var(--NAVY-BLUE, #2e2f42);
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/jpg/background.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  margin-left: auto;
  margin-right: auto;
}

.title_one {
  color: var(--WHITE, #fff);
  text-align: center;
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  width: 700px;
}

.button_link {
  background: var(--IRIS, #4d5ae5);
  color: var(--WHITE, #fff);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  border: none;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  margin-top: 48px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button_link:hover {
  background: var(--OCEAN, #404bbf);
}
.button_link:focus {
  background: var(--OCEAN, #404bbf);
}
/* Section 1 */

/* Section 2 */
.feature {
  padding-top: 120px;
  padding-bottom: 120px;
}

.list {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.paragraf_list {
  color: var(--SLATE, #434455);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.company_list {
  display: flex;
  gap: 24px;
  margin: 0 auto;
}
.company_item {
  width: calc((100% - 72px) / 4);
}
.section-two-icon {
  border-radius: 4px;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
  background: var(--CLOUD, #f4f4fd);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  border-radius: 4px;
  margin-bottom: 8px;
}
/* Section 2 */

/* Section 3 */
.social-link {
  fill: #f4f4fd;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-links-item {
  width: 40px;
  height: 40px;
}

.social-links-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-link:hover {
  background-color: #404bbf;
}

.social-links-link:focus {
  background-color: #404bbf;
}
.section-three {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.section-three-list {
  display: flex;
  gap: 24px;
}

.section-three-list-item {
  background-color: #ffffff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.text-centered {
  text-align: center;
}

.section-three-item-text {
  padding: 32px 0;
}
.heading-two {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.heading-three {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin: 0;
  margin-bottom: 8px;
}
.mb-five {
  margin-bottom: 8px;
}
/* Section 3 */

/* Section 4 */

.portfolio_p {
  color: var(--SLATE, #434455);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.our_portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.header_three {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.header_portfolio {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio_list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio_card {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio_container {
  padding: 32px 16px;
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
  border-top: none;
  margin: 0 auto;
}
.portfolio_card:hover {
  box-shadow: 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(0%);
}
.portfolio_images {
  position: relative;
  overflow: hidden;
}
.portfolio_images_paragraf {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio_card:hover .portfolio_images_paragraf {
  transform: translateY(0%);
}
/* Section 4 */

/* Footer */

.footer {
  background: var(--NAVY-BLUE, #2e2f42);
  padding: 100px 0 100px 0;
  margin: 0;
}
.span_footer {
  color: #f4f4fd;
}
.footer_p {
  color: var(--CLOUD, #f4f4fd);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
.header_logo_footer {
  color: var(--IRIS, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-right: 76px;
  display: inline-block;
  margin-bottom: 16px;
}
.footer_container {
  display: flex;
  align-items: baseline;
}
.logo_footer_container {
  margin-right: 120px;
}
.footer_social_paragraf {
  color: var(--WHITE, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.footer_list {
  display: flex;
  gap: 16px;
}
.footer_item {
  height: 40px;
  width: 40px;
}
.footer_link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  box-shadow: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer_link:hover {
  background-color: #31d0aa;
}
.footer_link:focus {
  background-color: #31d0aa;
}
.footer_svg_link {
  fill: #f4f4fd;
}
.subscribe_paragraf {
  color: var(--WHITE, #fff);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.email_form {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.email_label {
  gap: 24px;
}
.email_input {
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--WHITE, #fff);
  background-color: transparent;
  color: var(--WHITE, #fff);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.email_input::placeholder {
  color: #ffffff;
}
.button_footer {
  color: var(--WHITE, #fff);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  min-width: 164px;
  height: 40px;
  cursor: pointer;
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  border: none;
}
/* Footer */
